* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --raisin-black: #1c1d21;
    --red-grape: #a76565;
    --red-luster: #f3b0b0;
    --red-shadows: #CCBCBC;
    --light-black: #0c0c0c;
    --red-wine: #ac1a1a;
    --link-blue: #00eaff;
}

body {
    background-color: var(--raisin-black);
}

/* ----- HEADER ----- */
#header {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    height: 70px;
    position: -webkit-stick;
    /* safari */
    position: sticky;
    top: 0;
    box-shadow: 0px 15px 15px #000000;
    z-index: 1000;
    animation-name: bounce-fade-top;
    animation-duration: 1.5s;
}

#logo {
    display: flex;
    margin-left: 40px;
}

#logo a {
    color: var(--red-shadows);
    text-decoration: none;
    list-style: none;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
}


#logo2 {
    display: none;
    margin-left: 40px;
}

#logo2 a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--red-luster);
    text-decoration: none;
    list-style: none;
}

#logo2 h1 a:hover {
    color: var(--red-wine);
    transition: .4s;
}





#menu {
    box-sizing: border-box;
    display: flex;
    list-style: none;
    gap: 0.5rem;
    height: 70px;
    padding: 1rem;

}

ul li {
    margin-top: 10px;
}



ul li a {
    border-radius: 3px;
    padding: 0.5rem;

}

ul li a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--red-wine);
    transition: 0.4s;
}



ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    color: var(--red-shadows)
}

#btnToggle {
    display: none;
    background-color: rgba(0, 0, 0, 0);
    border: none;

}

/*----- Content ----- */

#introduction-slogan {
    background-image: url(./img/banner.png);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    padding: 6rem 4rem;
    height: 90vh;
    animation-name: bounce-fade-right;
    animation-duration: 1.5s;
}

#introduction-slogan h1 {
    text-transform: uppercase;
    padding: 1rem 0.5rem;
    font-weight: 700;
    font-size: 3rem;
    animation-name: fade;
    animation-duration: 1.5s;
}

#introduction-slogan h1 div {
    position: absolute;
    left: 30px;
    transition: transform .5s ease-in-out;
    z-index: 0;
}

#introduction-slogan h1:hover{
    cursor: default;
}

#introduction-slogan h1:hover .rotate {
    transform: rotate(180deg) scale(2);
    color: var(--red-wine);
    transition: .5s;
    z-index: 0;
}

.container1 {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px 20px;
}

#text {
    display: inline-block;
    font-size: 36px;
    font-weight: 400;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 20px 30px;
    border-radius: 10px;
    padding: 15px;

}


#exclamation {
    font-weight: bolder;
    display: inline-block;
    transition: .5s ease-in-out
}

#text:hover #exclamation {
    color: var(--red-wine);
    transition: 0.5s ease-in-out;
}

.container {
    display: flex;
    width: 98vw;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    animation-name: bounce-fade-top;
    animation-duration: 1.5s;

}

.container .card {
    font-weight: bolder;
    position: relative;
    max-width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.1);
    margin: 100px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 1);
    transition: 0.3s ease-in-out;

}

.container .card:hover {
    height: 215px;
}

.container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -60px;
    transition-delay: 0.3s;
    color: var(--red-shadows);
}

.container .card a {
    color: var(--red-shadows);
    text-decoration: none;
}

.container .card h2 {
    text-shadow: 0 10px 10px black;
}


.container .card .imgBx {
    position: relative;
    width: 260px;
    height: 260px;
    top: -60px;
    box-shadow: 0 5px 20px black;
    z-index: 1;

}

.container .card .imgBx img {
    max-width: 100%;
    border-radius: 4px;
    width: 260px;
    height: 260px;
    overflow: hidden;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 4rem;
    text-align: center;
   
}

footer h2 {
    font-size: 30px;
    font-weight: 100;
    color: white;

}

[data-anime] {
    opacity: 0;
    transition: .5s;
}


[data-anime="left"] {
    transform: translate3d(-100px, 0, 0)
}

[data-anime="right"] {
    transform: translate3d(100px, 0, 0)
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px)
}

#container2 {
    width: 98vw;
    height: 89vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;background-color: rgba(0, 0, 0, 0.3);
    animation-name: bounce-fade-top;
    animation-duration: 1.5s;
}

#formulario{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 20px 30px black;
}

#formulario h1{
    font-weight: 100;
    color: var(--red-shadows);
    font-size: 15px;
    
}

input{
    margin-bottom: 15px;
    border-style: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}


input::-webkit-input-placeholder{
    color: #c2c2c2;
    text-transform: uppercase;
    font-weight: 100;
}



#msg{
    display: block;
    border-style: none;
    border-radius: 5px;
    font-weight:bolder;
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
}

#submit{
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 15px;
    border-style: none;
    
}

#submit:hover{
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--red-wine);
    cursor: pointer;
    transition: .3s;
}

#imcCalc{
    background-color: rgba(0, 0, 0, 0.5);
    height: 70vh;
    width: 40vw;
    border-radius: 5px;
    display: flex;justify-content: space-between;
    flex-direction: column;
    align-items: left;
    box-shadow: 0 15px 30px black;
}

#imcCalc > .title{
    
    text-align: center;
    color: var(--red-luster);
    font-size: 1.1rem;
    text-transform: uppercase;
    border-bottom:  solid 1px var(--red-grape);
    padding: 20px 30px;
}

#imcCalc label{
    color: var(--red-shadows);
    text-transform: uppercase;
    padding: 10px 20px;
    text-align: left;
}

#imcCalc .input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

#imcCalc input{
    color: var(--red-shadows);
    padding: 6px 10px;
    text-align: right;
    font-weight: bolder;
    
}

#imcCalc button{
    position: relative;
    display: block;
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--red-shadows);
    border-style: none;
    padding: 10px 30px;
    text-align: center;
    width: 100%;
}

#imcCalc button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--red-wine);
    transition: .4s
}

#result{
    height: 20vh;
    width: 100%;
    background-color: var(--light-black);
    color: var(--red-wine);
    font-size: 16px;
    font-weight: bolder;
}



#about{
    margin: 80px 50px;
    opacity: 1;
    transition: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

#about > .title{
    font-size: 20px;
    color: var(--red-grape);
}

#about > .title a{
    color: var(--link-blue);
    font-style: italic;
}
#about > .content{
    color: var(--red-shadows);
    text-align: justify;
}

#about > .content h3{
    padding: 30px 0px;
}

#about > .content p{
    padding: 20px 5px;
    font-size: 20px;
}

#about > .content ul{
    margin-left: 40px;
}

#routineContainer{
    margin-top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    width: 98vw;
    height: 89vh;
    animation-name: fade;
    animation-duration: 1.5s;
}

.rCard{
    padding: 0px 50px;
   
}

#routineContainer .imgCd{
    max-width: 300px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .5s ease-in-out;
   
}

#routineContainer .imgCd:hover {
    height: 300px;
}

#routineContainer .rCard .nivel h2{
    text-transform: uppercase;
    z-index: -1;
    margin-top: -50px;
    color: white;
    opacity: 0;
    transition: .4s ease-in-out;
}

#routineContainer .imgCd:hover~.nivel h2{
    opacity: 1;
    transition-delay: .2s;
}


#routineContainer .imgCd img{
    width: 350px;
    height: 230px;
    box-shadow: 0px 20px 15px black
}

@keyframes bounce-fade-top{
    0% {transform: translateY(-50px);}
    100% {transform: translateY(0px);}
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes bounce-fade-bottom{
    0% {transform: translateY(50px);}
    100% {transform: translateY(0px);}
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes bounce-fade-left{
    0% {transform: translateX(-100px);}
    100% {transform: translateY(0px);}
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes bounce-fade-right{
    0% {transform: translateX(100px);}
    100% {transform: translateY(0px);}
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade{
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

/* ----- responsive -----*/

@media (max-width: 1090px) {
    #introduction-slogan {
        background-image: url(./img/banner.png);
        background-size: 100rem;
        background-repeat: no-repeat;
        padding: 6rem 4rem;
        height: 90vh;
    }

    #imcCalc{
        height: 80vh;
        width: 80vw;
    }

    #routineContainer .imgCd img{
        width: 250px;
        height: 130px;
    }

    #routineContainer{
        margin-top: 30px;
    }
}

@media (max-width: 900px) {
    #logo {
        display: none;
    }

    #logo2 {
        display: flex;
    }
}

@media (max-width: 600px) {
    #introduction h1{
        font-size: 10vw;
    }

    #text{
        margin: 0px;
    }

    #text p{
        font-size: 6vw;
    }

    #btnToggle {
        position: absolute;
        display: flex;
        right: 10px;
    }

    #menu {
        display: block;
        text-align: center;
        position: absolute;
        transition: .6s;
        width: 100%;
        top: 70px;
        padding: 0;
        left: 0;
        background: var(--light-black);
        z-index: 1000;
        height: 0;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
    }

    #menu li {
        padding: 2rem;
        margin: 20px;
        font-size: 1.5rem;
        border-bottom: 2px solid rgba(255, 255, 255, .3);
    }

    #menu a {
        padding: 2rem;

    }

    #menu li:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }

    #menu li a:hover {
        background-color: rgba(0, 0, 0, 0);
    }

    #imcCalc input{
        width: 100px;
    }
    
}